@font-face {
    font-family: hollis;
    src: url("../chalet-new-york-nineteen-seventy.ttf") format("opentype");
}

body {
    overflow: hidden;
}


.company-name {
    font-family: 'hollis';
    font-size: 52px;
    color: #0072bf;
}

.under-construction-section {
    background-image: url('../images/pexels-photo-355887.jpeg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    height: 100vh;
}

.under-construction-section .company-name {
    color: #fff;
    text-align: center;
    padding-top: 25vh;
}

.under-construction {
    text-align: center;
    color: #fff;
}

.cogs {
    color: #fff;
    margin-left: 44vw;
}

.slow-ani > * {
    animation-duration:5s;
  }

  @media (max-width:500px) {
    .under-construction-section {
        background-size: cover;
    }
    .cogs {
        margin-left: 25vw;
    }
    
  }

  @media (max-width:850px) {
    .under-construction-section {
        background-size: cover;
    }
    .cogs {
        margin-left: 37vw;
    }
  }